<div class="container">
    <div style="margin-top: 10%;">
        <button class="btn btn-secondary" [routerLink]="['/linechart']">Line Chart</button>
        <button class="btn btn-secondary" [routerLink]="['/circlechart']">Cicle Chart</button>
        <button class="btn btn-secondary" [routerLink]="['/piechart']">Pie Chart</button>
        <button class="btn btn-secondary" [routerLink]="['/stackchart']">Stack Chart</button>
        <button class="btn btn-secondary" [routerLink]="['/bargraph-single']">Bar Chart Single</button>
        <button class="btn btn-secondary" [routerLink]="['/bargraph-multiple']">Bar Chart Multiple</button>
    </div>
</div>
<router-outlet></router-outlet>